*{
    margin:0%;
    padding:0%;
}

body,html {
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: 16px;
}

.navbar
{
    background-color: rgb(158, 247, 192);
    display:flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h3{
    padding:10px;
}
.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;

}
.container
{
    width:70%;
    border-radius: 20px;
    background-color: rgb(219, 227, 219);
    
}
 .form-label
 {
     display:flex;
     justify-content:space-between;
     font-size: 15px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 } 
 
 